<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
        <style>
        body {
          
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size:100% 100%;
          }
          </style>
    <title>Welcome</title>
</head>
<body style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/43.jpg);" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Digital Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"style="margin-left:100px">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"style="margin-left:100px">
        <a class="nav-link" href="logout/">Logout</a>
      </li>
     
      <div class="dropdown"style="margin-left:700px">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.is_authenticated %}
          {{request.user.username}} 
          <span class="badge badge-light"> {{latedays }}</span>
        
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% if issuebooks %}
    {% for issue in issuebooks %}
          <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Book Name:{{issue.book.Name}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Issue date:{{issue.issued}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Return date: {{issue.returndate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Fine:{{issue.fine}}</a>
          <div class="dropdown-item" style="margin-left: 30px;">
          <form class="form-inline my-2 my-lg-0" action="return/" method='post'style="text-align:center" >
            {% csrf_token%}
            <input type="hidden"name='bookname' value="{{issue.book.Name}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Return</button>
          </form></div>
          {% endfor %}   
          {% else %}
              No books issued
          {% endif %}
        </div>
        {% else %}
        user not found
        {% endif %}
      </div>
     
    </ul>
    
  </div>
</nav>
<div class="alert alert-info" role="alert" >
   Welcome to Digital Library!!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<br>
<h1 style="color:white;">Select Book</h1>



  {% if books %}

    <br>
    <table align="left" border="px" cellspacing="5px"  cellpadding="15px"  align:"center" style="color: white;opacity: 0.9; background-image: url(
    https://i.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg
    
    ); margin-left: 400px; border: black; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      <thead style="text-align: center; border-bottom: 8px solid black;" >
          <tr style="text-align: center; font-family: fantasy;background-color:black; font-size: 30px; " >
              <th> BOOK NAME</th>
              <th>STATUS</th>
              <th> ISSUE</th>
          </tr>
      </thead>
      <tbody style="text-align: center;">
          {% for book in books %}
              <tr style="text-align: center;">
                  <td><span class="badge badge-light">
                    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="{{book.Description}}">   
                    {{book.Name}}</button></span></td>
                  <td>
                    {% if book.Status %}
                    <span class="badge badge-secondary">Available</span>
                    {% else %}
                    <span class="badge badge-secondary">Not Available</span> 
                    {% endif %} 
                    </td>
                    <td> <form action="select/" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="bookname" value="{{book.Name}}"> 
                      
                      <button type="submit" class="btn btn-dark"data-toggle="tooltip" data-placement="top" title="Tap to Issue">Issue
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                      </button>
                    </form>
                      </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
    {% else %}
    no books present
     {% endif %} 



      <p> my name is mehul</p>
    </div>
 
    
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>